<a href="https://colab.research.google.com/github/khouloud123459/Intelligent-Human-Resources-Management-System-with-HR-Data-Analysis-and-Turnover-Prediction/blob/main/RH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importation du dataset dans Google Colab
from google.colab import files
import pandas as pd

# Téléversez le fichier
uploaded = files.upload()

Saving HR Data.xlsx - HR data.csv to HR Data.xlsx - HR data.csv

In [ ]:
# Chargement du dataset
df = pd.read_csv('HR Data.xlsx - HR data.csv')
pd.options.display.max_columns = 100
df

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,Marital Status,Over Time,Over18,Training Times Last Year,-2,0,Age,CF_current Employee,Daily Rate,Distance From Home,Education,Employee Count,Environment Satisfaction,Hourly Rate,Job Involvement,Job Level,Job Satisfaction,Monthly Income,Monthly Rate,Num Companies Worked,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,Single,Yes,Y,0,-2,0,41,0,1102,1,Associates Degree,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,Married,No,Y,3,-2,0,49,1,279,8,High School,1,3,61,2,2,2,5130,24907,1,23,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,Single,Yes,Y,3,-2,0,37,0,1373,2,Associates Degree,1,4,92,2,1,3,2090,2396,6,15,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,Married,Yes,Y,3,-2,0,33,1,1392,3,Master's Degree,1,4,56,3,1,3,2909,23159,1,11,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,Married,No,Y,3,-2,0,27,1,591,2,High School,1,1,40,3,1,2,3468,16632,9,12,3,4,80,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Yes,Non-Travel,25 - 34,Ex-Employees,R&D,Technical Degree,STAFF-1905,1905,Male,Research Scientist,Married,Yes,Y,2,-2,0,34,0,967,16,Master's Degree,1,4,85,1,1,1,2307,14460,1,23,4,2,80,1,5,3,5,2,3,0
1466,Yes,Travel_Frequently,25 - 34,Ex-Employees,R&D,Life Sciences,STAFF-1868,1868,Male,Research Scientist,Single,Yes,Y,3,-2,0,29,0,459,24,Associates Degree,1,4,73,2,1,4,2439,14753,1,24,4,2,80,0,1,2,1,0,1,0
1467,Yes,Travel_Frequently,35 - 44,Ex-Employees,Sales,Other,STAFF-1667,1667,Male,Sales Executive,Single,Yes,Y,2,-2,0,35,0,880,12,Master's Degree,1,4,36,3,2,4,4581,10414,3,24,4,1,80,0,13,4,11,9,6,7
1468,Yes,Travel_Rarely,Under 25,Ex-Employees,R&D,Life Sciences,STAFF-1878,1878,Male,Research Scientist,Single,Yes,Y,2,-2,0,22,0,391,7,High School,1,4,75,3,1,2,2472,26092,1,23,4,1,80,0,1,3,1,0,0,0
1469,Yes,Travel_Rarely,Under 25,Ex-Employees,Sales,Life Sciences,STAFF-1702,1702,Male,Sales Representative,Divorced,Yes,Y,2,-2,0,23,0,427,7,Bachelor's Degree,1,3,99,3,1,4,2275,25103,1,21,4,2,80,1,3,3,3,2,0,2

# Normalisation des données

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

# Chargement du dataset
df = pd.read_csv('HR Data.xlsx - HR data.csv')
pd.options.display.max_columns = 100

# Suppression des colonnes spécifiées
drop_cols = ['CF_attrition label', 'Employee Number', 'Over18', '-2', '0', 'Age', 'CF_current Employee', 'Employee Count', 'Standard Hours']
df = df.drop(columns=drop_cols, errors='ignore')  # errors='ignore' pour éviter les erreurs si une colonne n'existe pas

# Normalisation en 0 et 1 pour Attrition, Gender et Over Time (binaires)
df['Attrition'] = df['Attrition'].map({'No': 0, 'Yes': 1, True: 1, False: 0})  # Gestion des booléens si présents
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})
df['Over Time'] = df['Over Time'].map({'No': 0, 'Yes': 1})

# Normalisation pour Business Travel (ordinal logique : bas vers haut)
travel_map = {'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2}
df['Business Travel'] = df['Business Travel'].map(travel_map) / 2.0

# Normalisation pour CF_age band (ordinal logique : bas vers haut)
age_map = {'Under 25': 0, '25 - 34': 1, '35 - 44': 2, '45 - 54': 3, 'Over 55': 4}
df['CF_age band'] = df['CF_age band'].map(age_map) / 4.0

# Normalisation pour Education (ordinal logique : bas vers haut)
education_map = {
    "High School": 0, "Associates Degree": 1, "Bachelor's Degree": 2,
    "Master's Degree": 3, "Doctoral Degree": 4
}
if df['Education'].dtype in ['int64', 'float64']:
    df['Education'] = df['Education'].map(lambda x: (x - 1) / 4.0)  # Suppose 1 à 5
else:
    df['Education'] = df['Education'].map(education_map) / 4.0

# Colonnes à scaler avec MinMaxScaler (entre 0 et 1)
scale_cols = [
    'Training Times Last Year', 'Distance From Home', 'Environment Satisfaction',
    'Hourly Rate', 'Job Involvement', 'Job Level', 'Job Satisfaction', 'Monthly Income',
    'Monthly Rate', 'Num Companies Worked', 'Percent Salary Hike', 'Performance Rating',
    'Relationship Satisfaction', 'Stock Option Level', 'Total Working Years', 'Work Life Balance',
    'Years At Company', 'Years In Current Role', 'Years Since Last Promotion', 'Years With Curr Manager', 'Daily Rate'
]
scaler = MinMaxScaler()
df[scale_cols] = scaler.fit_transform(df[scale_cols])

# Colonnes à one-hot encoder (catégorielles non ordinales)
onehot_cols = ['Marital Status', 'Department', 'Education Field', 'Job Role']
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded = encoder.fit_transform(df[onehot_cols])
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(onehot_cols), index=df.index)
df = pd.concat([df.drop(columns=onehot_cols), encoded_df], axis=1)

# emp no reste inchangé

# Affichage du dataset normalisé sous forme de tableau markdown
print("Dataset normalisé (premières lignes) :")
print(df.head(10).to_markdown(index=False, numalign="left", stralign="left"))

# Affichage des détails de normalisation
print("\nDétails de normalisation :")
print("Attrition : {'No': 0, 'Yes': 1, True: 1, False: 0}")
print("Gender : {'Female': 0, 'Male': 1}")
print("Over Time : {'No': 0, 'Yes': 1}")
print("Business Travel :", travel_map, "divisé par 2 pour [0, 1]")
print("CF_age band :", age_map, "divisé par 4 pour [0, 1]")
if df['Education'].dtype in ['int64', 'float64']:
    print("Education : Normalisé de 1-5 à [0, 1] par (x-1)/4")
else:
    print("Education :", education_map, "divisé par 4 pour [0, 1]")
print("MinMaxScaler (feature_range=(0, 1)) appliqué aux colonnes :", scale_cols)
print("OneHotEncoder appliqué aux colonnes :", onehot_cols)

Dataset normalisé (premières lignes) :
| Attrition   | Business Travel   | CF_age band   | emp no   | Gender   | Over Time   | Training Times Last Year   | Daily Rate   | Distance From Home   | Education   | Environment Satisfaction   | Hourly Rate   | Job Involvement   | Job Level   | Job Satisfaction   | Monthly Income   | Monthly Rate   | Num Companies Worked   | Percent Salary Hike   | Performance Rating   | Relationship Satisfaction   | Stock Option Level   | Total Working Years   | Work Life Balance   | Years At Company   | Years In Current Role   | Years Since Last Promotion   | Years With Curr Manager   | Marital Status_Divorced   | Marital Status_Married   | Marital Status_Single   | Department_HR   | Department_R&D   | Department_Sales   | Education Field_Human Resources   | Education Field_Life Sciences   | Education Field_Marketing   | Education Field_Medical   | Education Field_Other   | Education Field_Technical Degree   | Job Role_Healthcare Representative   | Job Role_Human Resources   | Job Role_Laboratory Technician   | Job Role_Manager   | Job Role_Manufacturing Director   | Job Role_Research Director   | Job Role_Research Scientist   | Job Role_Sales Executive   | Job Role_Sales Representative   |
|:------------|:------------------|:--------------|:---------|:---------|:------------|:---------------------------|:-------------|:---------------------|:------------|:---------------------------|:--------------|:------------------|:------------|:-------------------|:-----------------|:---------------|:-----------------------|:----------------------|:---------------------|:----------------------------|:---------------------|:----------------------|:--------------------|:-------------------|:------------------------|:-----------------------------|:--------------------------|:--------------------------|:-------------------------|:------------------------|:----------------|:-----------------|:-------------------|:----------------------------------|:--------------------------------|:----------------------------|:--------------------------|:------------------------|:-----------------------------------|:-------------------------------------|:---------------------------|:---------------------------------|:-------------------|:----------------------------------|:-----------------------------|:------------------------------|:---------------------------|:--------------------------------|
| 1           | 0.5               | 0.5           | STAFF-1  | 0        | 1           | 0                          | 0.71582      | 0                    | 0.25        | 0.333333                   | 0.914286      | 0.666667          | 0.25        | 1                  | 0.262454         | 0.698053       | 0.888889               | 0                     | 0                    | 0                           | 0                    | 0.2                   | 0                   | 0.15               | 0.222222                | 0                            | 0.294118                  | 0                         | 0                        | 1                       | 0               | 0                | 1                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 0                                | 0                  | 0                                 | 0                            | 0                             | 1                          | 0                               |
| 0           | 1                 | 0.75          | STAFF-2  | 1        | 0           | 0.5                        | 0.1267       | 0.25                 | 0           | 0.666667                   | 0.442857      | 0.333333          | 0.25        | 0.333333           | 0.217009         | 0.916001       | 0.111111               | 0.857143              | 1                    | 1                           | 0.333333             | 0.25                  | 0.666667            | 0.25               | 0.388889                | 0.0666667                    | 0.411765                  | 0                         | 1                        | 0                       | 0               | 1                | 0                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 0                                | 0                  | 0                                 | 0                            | 1                             | 0                          | 0                               |
| 1           | 0.5               | 0.5           | STAFF-4  | 1        | 1           | 0.5                        | 0.909807     | 0.0357143            | 0.25        | 1                          | 0.885714      | 0.333333          | 0           | 0.666667           | 0.0569247        | 0.0121261      | 0.666667               | 0.285714              | 0                    | 0.333333                    | 0                    | 0.175                 | 0.666667            | 0                  | 0                       | 0                            | 0                         | 0                         | 0                        | 1                       | 0               | 1                | 0                  | 0                                 | 0                               | 0                           | 0                         | 1                       | 0                                  | 0                                    | 0                          | 1                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 1                 | 0.25          | STAFF-5  | 0        | 1           | 0.5                        | 0.923407     | 0.0714286            | 0.75        | 1                          | 0.371429      | 0.666667          | 0           | 0.666667           | 0.100053         | 0.845814       | 0.111111               | 0                     | 0                    | 0.666667                    | 0                    | 0.2                   | 0.666667            | 0.2                | 0.388889                | 0.2                          | 0                         | 0                         | 1                        | 0                       | 0               | 1                | 0                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 0                                | 0                  | 0                                 | 0                            | 1                             | 0                          | 0                               |
| 0           | 0.5               | 0.25          | STAFF-7  | 1        | 0           | 0.5                        | 0.350036     | 0.0357143            | 0           | 0                          | 0.142857      | 0.666667          | 0           | 0.333333           | 0.129489         | 0.583738       | 1                      | 0.0714286             | 0                    | 1                           | 0.333333             | 0.15                  | 0.666667            | 0.05               | 0.111111                | 0.133333                     | 0.117647                  | 0                         | 1                        | 0                       | 0               | 1                | 0                  | 0                                 | 0                               | 0                           | 1                         | 0                       | 0                                  | 0                                    | 0                          | 1                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 1                 | 0.25          | STAFF-8  | 1        | 0           | 0.333333                   | 0.646385     | 0.0357143            | 0.25        | 1                          | 0.7           | 0.666667          | 0           | 1                  | 0.108425         | 0.392291       | 0                      | 0.142857              | 0                    | 0.666667                    | 0                    | 0.2                   | 0.333333            | 0.175              | 0.388889                | 0.2                          | 0.352941                  | 0                         | 0                        | 1                       | 0               | 1                | 0                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 1                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 0.5               | 1             | STAFF-10 | 0        | 1           | 0.5                        | 0.874732     | 0.0714286            | 0.5         | 0.666667                   | 0.728571      | 1                 | 0           | 0                  | 0.0874671        | 0.316001       | 0.444444               | 0.642857              | 1                    | 0                           | 1                    | 0.3                   | 0.333333            | 0.025              | 0                       | 0                            | 0                         | 0                         | 1                        | 0                       | 0               | 1                | 0                  | 0                                 | 0                               | 0                           | 1                         | 0                       | 0                                  | 0                                    | 0                          | 1                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 0.5               | 0.25          | STAFF-11 | 1        | 0           | 0.333333                   | 0.899069     | 0.821429             | 0           | 1                          | 0.528571      | 0.666667          | 0           | 0.666667           | 0.0886783        | 0.451355       | 0.111111               | 0.785714              | 1                    | 0.333333                    | 0.333333             | 0.025                 | 0.666667            | 0.025              | 0                       | 0                            | 0                         | 1                         | 0                        | 0                       | 0               | 1                | 0                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 1                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 1                 | 0.5           | STAFF-12 | 1        | 0           | 0.333333                   | 0.0816034    | 0.785714             | 0.5         | 1                          | 0.2           | 0.333333          | 0.5         | 0.666667           | 0.448499         | 0.268741       | 0                      | 0.714286              | 1                    | 0.333333                    | 0                    | 0.25                  | 0.666667            | 0.225              | 0.388889                | 0.0666667                    | 0.470588                  | 0                         | 0                        | 1                       | 0               | 1                | 0                  | 0                                 | 1                               | 0                           | 0                         | 0                       | 0                                  | 0                                    | 0                          | 0                                | 0                  | 1                                 | 0                            | 0                             | 0                          | 0                               |
| 0           | 0.5               | 0.5           | STAFF-13 | 1        | 0           | 0.5                        | 0.856836     | 0.928571             | 0.5         | 0.666667                   | 0.914286      | 0.666667          | 0.25        | 0.666667           | 0.222643         | 0.58153        | 0.666667               | 0.142857              | 0                    | 0.333333                    | 0.666667             | 0.425                 | 0.333333            | 0.175              | 0.388889                | 0.466667                     | 0.411765                  | 0                         | 1                        | 0                       | 0               | 1                | 0                  | 0                                 | 0                               | 0                           | 1                         | 0                       | 0                                  | 1                                    | 0                          | 0                                | 0                  | 0                                 | 0                            | 0                             | 0                          | 0                               |

Détails de normalisation :
Attrition : {'No': 0, 'Yes': 1, True: 1, False: 0}
Gender : {'Female': 0, 'Male': 1}
Over Time : {'No': 0, 'Yes': 1}
Business Travel : {'Non-Travel': 0, 'Travel_Rarely': 1, 'Travel_Frequently': 2} divisé par 2 pour [0, 1]
CF_age band : {'Under 25': 0, '25 - 34': 1, '35 - 44': 2, '45 - 54': 3, 'Over 55': 4} divisé par 4 pour [0, 1]
Education : Normalisé de 1-5 à [0, 1] par (x-1)/4
MinMaxScaler (feature_range=(0, 1)) appliqué aux colonnes : ['Training Times Last Year', 'Distance From Home', 'Environment Satisfaction', 'Hourly Rate', 'Job Involvement', 'Job Level', 'Job Satisfaction', 'Monthly Income', 'Monthly Rate', 'Num Companies Worked', 'Percent Salary Hike', 'Performance Rating', 'Relationship Satisfaction', 'Stock Option Level', 'Total Working Years', 'Work Life Balance', 'Years At Company', 'Years In Current Role', 'Years Since Last Promotion', 'Years With Curr Manager', 'Daily Rate']
OneHotEncoder appliqué aux colonnes : ['Marital Status', 'Department', 'Education Field', 'Job Role']

# Pipeline automatique d’apprentissage supervisé pour la classification et la régression avec sélection de caractéristiques et optimisation des modèles :

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import SVC, SVR
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline
from xgboost import XGBClassifier
import warnings
warnings.filterwarnings('ignore')

def preprocess_data(df, target, exclude_cols=['emp no'], k_best=20, manual_features=None):
    # Si des features manuelles sont fournies, les utiliser
    if manual_features is not None:
        features = [col for col in manual_features if col in df.columns and col not in [target] + exclude_cols]
        if not features:
            raise ValueError("Aucune feature manuelle valide fournie.")
        X = df[features]
        selected_features = features
    else:
        # Sinon, utiliser SelectKBest
        features = [col for col in df.columns if col not in [target] + exclude_cols]
        # Choisir f_classif pour classification, f_regression pour régression
        score_func = f_classif if df[target].dtype in ['int64', 'object', 'bool'] else f_regression
        selector = SelectKBest(score_func=score_func, k=min(k_best, len(features)))
        X_selected = selector.fit_transform(df[features], df[target])
        selected_features = [features[i] for i in selector.get_support(indices=True)]
        X = pd.DataFrame(X_selected, columns=selected_features, index=df.index)
        print(f"Top features for {target}: {selected_features[:5]}...")

    y = df[target]
    return X, y, selected_features

# Classification task with optimizations
def process_classification_task(target, df, is_attrition=True, manual_features=None):
    X, y, feat_names = preprocess_data(df, target, manual_features=manual_features)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

    models_grids = {
        'LogisticRegression': {
            'model': LogisticRegression(max_iter=1000, class_weight='balanced'),
            'params': {'model__C': [0.1, 1, 10], 'model__penalty': ['l1', 'l2'], 'model__solver': ['liblinear']}
        },
        'RandomForestClassifier': {
            'model': RandomForestClassifier(random_state=42, class_weight='balanced', max_depth=10),
            'params': {'model__n_estimators': [100, 200], 'model__max_depth': [5, 10]}
        },
        'SVC': {
            'model': SVC(probability=True, random_state=42, class_weight='balanced'),
            'params': {'model__C': [0.1, 1, 10], 'model__kernel': ['rbf', 'linear']}
        },
        'XGBoost': {
            'model': XGBClassifier(random_state=42, scale_pos_weight=sum(y==0)/sum(y==1)),
            'params': {'model__n_estimators': [100, 200], 'model__max_depth': [3, 6], 'model__learning_rate': [0.01, 0.1]}
        }
    }

    results = {}
    best_models = {}

    for name, config in models_grids.items():
        pipe = Pipeline([
            ('smote', SMOTE(random_state=42, k_neighbors=3)),
            ('scaler', StandardScaler()),
            ('model', config['model'])
        ])
        grid = GridSearchCV(pipe, config['params'], cv=5, scoring='f1', n_jobs=-1)
        grid.fit(X_train, y_train)

        preds = grid.predict(X_test)
        probs = grid.predict_proba(X_test)[:, 1] if hasattr(grid.best_estimator_, 'predict_proba') else grid.decision_function(X_test)

        results[name] = {
            'Accuracy': accuracy_score(y_test, preds),
            'Precision': precision_score(y_test, preds, average='binary', zero_division=0),
            'Recall': recall_score(y_test, preds, average='binary'),
            'F1-Score': f1_score(y_test, preds, average='binary'),
            'ROC-AUC': roc_auc_score(y_test, probs)
        }

        best_models[name] = grid.best_estimator_
        print(f"{name} - Best params: {grid.best_params_}")

    print(f"\nOptimized results for {target}:")
    df_results = pd.DataFrame(results).T.round(4)
    print(df_results)

    best_name = max(results, key=lambda x: results[x]['F1-Score'])
    best_model = best_models[best_name]
    print(f"Best model for {target}: {best_name} (F1 = {results[best_name]['F1-Score']:.4f})")

    if hasattr(best_model, 'predict_proba'):
        probs_all = best_model.predict_proba(X)[:, 1]
        thresholds = np.arange(0.1, 0.9, 0.1)
        best_thresh, best_f1 = 0.5, results[best_name]['F1-Score']
        for thresh in thresholds:
            preds_thresh = (probs_all > thresh).astype(int)
            f1_thresh = f1_score(y, preds_thresh, average='binary')
            if f1_thresh > best_f1:
                best_thresh, best_f1 = thresh, f1_thresh
        print(f"Optimized threshold: {best_thresh} (Improved F1 = {best_f1:.4f})")
        preds_all = (probs_all > best_thresh).astype(int)
    else:
        best_model.fit(X, y)
        probs_all = best_model.decision_function(X)
        preds_all = best_model.predict(X)

    if hasattr(best_model.named_steps['model'], 'feature_importances_'):
        importances = best_model.named_steps['model'].feature_importances_
        top_feats = pd.DataFrame({'Feature': feat_names, 'Importance': importances}).sort_values('Importance', ascending=False).head(5)
        print(f"Top features for {target}:\n{top_feats}")

    return preds_all, best_name, best_model, X

# Regression task
def process_regression_task(target, df):
    X, y, _ = preprocess_data(df, target, k_best=15)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    models_grids = {
        'Ridge': {
            'model': Ridge(),
            'params': {'alpha': [0.1, 1, 10]}
        },
        'RandomForestRegressor': {
            'model': RandomForestRegressor(random_state=42, max_depth=10),
            'params': {'n_estimators': [100, 200], 'max_depth': [5, 10]}
        },
        'SVR': {
            'model': SVR(),
            'params': {'C': [0.1, 1, 10], 'kernel': ['rbf', 'linear']}
        }
    }

    results = {}
    for name, config in models_grids.items():
        grid = GridSearchCV(config['model'], config['params'], cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
        grid.fit(X_train, y_train)
        preds = grid.predict(X_test)
        results[name] = {
            'MSE': mean_squared_error(y_test, preds),
            'R2': r2_score(y_test, preds)
        }
        print(f"{name} - Best params: {grid.best_params_}")

    print(f"\nResults for {target} (MSE/R²):")
    print(pd.DataFrame(results).T.round(4))

    best_name = min(results, key=lambda x: results[x]['MSE'])
    best_model = models_grids[best_name]['model']
    grid = GridSearchCV(best_model, models_grids[best_name]['params'], cv=5, scoring='neg_mean_squared_error')
    grid.fit(X, y)
    preds_all = grid.predict(X)
    return preds_all, best_name

## Identification des risques de départ : Quels employés sont susceptibles de quitter l'entreprise ?

In [ ]:
print("\nOptimizations in progress for Attrition...")
attrition_features = ['Over Time', 'Distance From Home', 'Daily Rate', 'Environment Satisfaction', 'Job Involvement', 'Job Satisfaction', 'Monthly Income', 'Monthly Rate', 'Percent Salary Hike', 'Relationship Satisfaction', 'Work Life Balance']
preds_attrition, best_attrition, best_model, X = process_classification_task('Attrition', df, manual_features=attrition_features)
# Ajout des prédictions et probabilités
df['Predicted_Attrition'] = preds_attrition
if hasattr(best_model, 'predict_proba'):
    # Calculer les probabilités pour tous les employés
    probs_all = best_model.predict_proba(X)[:, 1]
    # Créer la colonne Attrition_Probability avec NaN pour Attrition=1
    df['Attrition_Probability'] = np.where(df['Attrition'] == 0, probs_all, np.nan)
else:
    print("Le meilleur modèle ne supporte pas predict_proba, Attrition_Probability non calculée.")
    df['Attrition_Probability'] = np.nan

# Exporter le DataFrame avec les prédictions et probabilités
df.to_csv('dataset_with_attrition_predictions.csv', index=False)
print("\nDataset with Attrition predictions and probabilities exported as 'dataset_with_attrition_predictions.csv'.")

Optimizations in progress for Attrition...
LogisticRegression - Best params: {'model__C': 1, 'model__penalty': 'l2', 'model__solver': 'liblinear'}
RandomForestClassifier - Best params: {'model__max_depth': 5, 'model__n_estimators': 200}
SVC - Best params: {'model__C': 1, 'model__kernel': 'linear'}
XGBoost - Best params: {'model__learning_rate': 0.1, 'model__max_depth': 3, 'model__n_estimators': 200}

Optimized results for Attrition:
                        Accuracy  Precision  Recall  F1-Score  ROC-AUC
LogisticRegression        0.7098     0.3230  0.7324    0.4483   0.7818
RandomForestClassifier    0.8095     0.4177  0.4648    0.4400   0.7612
SVC                       0.7098     0.3230  0.7324    0.4483   0.7793
XGBoost                   0.7415     0.3453  0.6761    0.4571   0.7727
Best model for Attrition: XGBoost (F1 = 0.4571)
Optimized threshold: 0.7000000000000001 (Improved F1 = 0.7122)
Top features for Attrition:
                     Feature  Importance
0                  Over Time    0.178113
3   Environment Satisfaction    0.133432
5           Job Satisfaction    0.120965
10         Work Life Balance    0.105717
4            Job Involvement    0.097424

Dataset with Attrition predictions and probabilities exported as 'dataset_with_attrition_predictions.csv'.

In [ ]:
df

,Attrition,Business Travel,CF_age band,emp no,Gender,Over Time,Training Times Last Year,Daily Rate,Distance From Home,Education,Environment Satisfaction,Hourly Rate,Job Involvement,Job Level,Job Satisfaction,Monthly Income,Monthly Rate,Num Companies Worked,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Department_HR,Department_R&D,Department_Sales,Education Field_Human Resources,Education Field_Life Sciences,Education Field_Marketing,Education Field_Medical,Education Field_Other,Education Field_Technical Degree,Job Role_Healthcare Representative,Job Role_Human Resources,Job Role_Laboratory Technician,Job Role_Manager,Job Role_Manufacturing Director,Job Role_Research Director,Job Role_Research Scientist,Job Role_Sales Executive,Job Role_Sales Representative,Predicted_Attrition,Attrition_Probability
0,1,0.5,0.50,STAFF-1,0,1,0.000000,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.262454,0.698053,0.888889,0.000000,0.0,0.000000,0.000000,0.200,0.000000,0.150,0.222222,0.000000,0.294118,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN
1,0,1.0,0.75,STAFF-2,1,0,0.500000,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.217009,0.916001,0.111111,0.857143,1.0,1.000000,0.333333,0.250,0.666667,0.250,0.388889,0.066667,0.411765,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.161324
2,1,0.5,0.50,STAFF-4,1,1,0.500000,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.056925,0.012126,0.666667,0.285714,0.0,0.333333,0.000000,0.175,0.666667,0.000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN
3,0,1.0,0.25,STAFF-5,0,1,0.500000,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.100053,0.845814,0.111111,0.000000,0.0,0.666667,0.000000,0.200,0.666667,0.200,0.388889,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0.755515
4,0,0.5,0.25,STAFF-7,1,0,0.500000,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.129489,0.583738,1.000000,0.071429,0.0,1.000000,0.333333,0.150,0.666667,0.050,0.111111,0.133333,0.117647,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.614192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1,0.0,0.25,STAFF-1905,1,1,0.333333,0.619184,0.535714,0.75,1.000000,0.785714,0.000000,0.00,0.000000,0.068352,0.496527,0.111111,0.857143,1.0,0.333333,0.333333,0.125,0.666667,0.125,0.111111,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN
1466,1,1.0,0.25,STAFF-1868,1,1,0.500000,0.255548,0.821429,0.25,1.000000,0.614286,0.333333,0.00,1.000000,0.075303,0.508292,0.111111,0.928571,1.0,0.333333,0.000000,0.025,0.333333,0.025,0.000000,0.066667,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN
1467,1,1.0,0.50,STAFF-1667,1,1,0.333333,0.556908,0.392857,0.75,1.000000,0.085714,0.666667,0.25,1.000000,0.188099,0.334069,0.333333,0.928571,1.0,0.000000,0.000000,0.325,1.000000,0.275,0.500000,0.400000,0.411765,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN
1468,1,0.5,0.00,STAFF-1878,1,1,0.333333,0.206872,0.214286,0.00,1.000000,0.642857,0.666667,0.00,0.333333,0.077041,0.963582,0.111111,0.857143,1.0,0.000000,0.000000,0.025,0.666667,0.025,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN
1469,1,0.5,0.00,STAFF-1702,1,1,0.333333,0.232641,0.214286,0.50,0.666667,0.985714,0.666667,0.00,1.000000,0.066667,0.923871,0.111111,0.714286,1.0,0.333333,0.333333,0.075,0.666667,0.075,0.111111,0.000000,0.117647,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,NaN

## Optimisation des plans de succession : Qui promouvoir/pour quels postes-clés ?

* Les employés dans Job Role_Research Scientist avec Promotion_Prediction == 1 pourraient être candidats pour Research Director.
* Les employés dans Job Role_Sales Representative avec Promotion_Prediction == 1 pourraient être candidats pour Sales Executive.
* Les employés dans Sales Executive ou Research Director avec Promotion_Prediction == 1 pourraient être candidats pour Manager.
* Les employés dans d'autres postes avec Promotion_Prediction == 1 pourraient être candidats pour Other Leadership.

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, balanced_accuracy_score
from imblearn.over_sampling import ADASYN, SMOTE
from imblearn.pipeline import Pipeline
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Filtrer les employés avec Attrition == 0 pour l'entraînement
df_active = df[df['Attrition'] == 0].copy()
print(f"Nombre d'employés actifs (Attrition == 0) : {len(df_active)}")

# Calculer Promotion_Potential avec des critères encore moins restrictifs
df_active['Promotion_Potential'] = (
    (df_active['Job Level'] >= 0.2) &  # Job Level >= 1.5 (assuming scale 1-5)
    (df_active['Performance Rating'] >= 0.333333) &  # Performance Rating >= 1 (scale 1-3)
    (df_active['Years At Company'] >= 0.05) &  # Years At Company >= 2 (assuming max ~40)
    (df_active['Job Satisfaction'] >= 0.25) &  # Job Satisfaction >= 1.5 (scale 1-4)
    (df_active['Years In Current Role'] >= 0.05) &  # Years In Current Role >= 2 (max ~40)
    (df_active['Job Involvement'] >= 0.25)  # Job Involvement >= 1.5 (scale 1-4)
).astype(int)

# Vérifier la distribution
print("Distribution de Promotion_Potential :")
print(df_active['Promotion_Potential'].value_counts())

# Vérifier si les deux classes sont présentes
if df_active['Promotion_Potential'].nunique() < 2:
    raise ValueError("Erreur : Promotion_Potential ne contient qu'une seule classe. Ajustez les critères pour inclure des employés avec Promotion_Potential = 1.")

# Définir les features manuelles
manual_features = [
    'Years Since Last Promotion', 'Years With Curr Manager',
    'Training Times Last Year', 'Job Involvement',
    'Performance Rating', 'Job Satisfaction'  # Added to capture more signal
]

# Appliquer la classification sur les employés actifs
def process_classification_task(target, df, is_attrition, manual_features):
    X = df[manual_features]
    y = df[target]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

    # Calculate scale_pos_weight for XGBoost
    scale_pos_weight = sum(y_train == 0) / sum(y_train == 1) if sum(y_train == 1) > 0 else 1

    models = {
        'LogisticRegression': {
            'model': LogisticRegression(random_state=42, class_weight='balanced'),
            'params': {
                'model__C': [0.001, 0.01, 0.1, 1, 10, 100],
                'model__penalty': ['l1', 'l2'],
                'model__solver': ['liblinear']
            }
        },
        'RandomForestClassifier': {
            'model': RandomForestClassifier(random_state=42, class_weight='balanced'),
            'params': {
                'model__n_estimators': [50, 100, 200, 300],
                'model__max_depth': [3, 5, 10, 15],
                'model__min_samples_split': [2, 5, 10],
                'model__min_samples_leaf': [1, 2]
            }
        },
        'SVC': {
            'model': SVC(random_state=42, probability=True, class_weight='balanced'),
            'params': {
                'model__C': [0.01, 0.1, 1, 10, 100],
                'model__kernel': ['linear', 'rbf'],
                'model__gamma': ['scale', 'auto', 0.1]
            }
        },
        'XGBoost': {
            'model': XGBClassifier(random_state=42, eval_metric='logloss', scale_pos_weight=scale_pos_weight * 0.5),  # Adjusted for better balance
            'params': {
                'model__n_estimators': [50, 100, 200],
                'model__max_depth': [3, 5, 7],
                'model__learning_rate': [0.01, 0.05, 0.1, 0.2],
                'model__subsample': [0.8, 1.0]
            }
        }
    }

    best_model = None
    best_score = 0
    best_name = ''
    results = []

    for name, config in models.items():
        pipe = Pipeline([
            ('oversample', SMOTE(random_state=42, k_neighbors=3)),  # Switched to SMOTE for robustness
            ('scaler', StandardScaler()),
            ('model', config['model'])
        ])
        grid = GridSearchCV(pipe, config['params'], cv=5, scoring='f1', n_jobs=-1)
        grid.fit(X_train, y_train)
        y_pred = grid.predict(X_test)
        y_prob = grid.predict_proba(X_test)[:, 1]

        accuracy = accuracy_score(y_test, y_pred)
        precision = precision_score(y_test, y_pred, zero_division=0)
        recall = recall_score(y_test, y_pred, zero_division=0)
        f1 = f1_score(y_test, y_pred, zero_division=0)
        roc_auc = roc_auc_score(y_test, y_prob)
        balanced_acc = balanced_accuracy_score(y_test, y_pred)

        results.append({
            'Model': name,
            'Accuracy': accuracy,
            'Precision': precision,
            'Recall': recall,
            'F1-Score': f1,
            'ROC-AUC': roc_auc,
            'Balanced Accuracy': balanced_acc
        })

        if f1 > best_score:
            best_score = f1
            best_model = grid.best_estimator_
            best_name = name

        print(f"{name} - Best params: {grid.best_params_}")

        # Print feature importances if available
        if hasattr(grid.best_estimator_.named_steps['model'], 'feature_importances_'):
            importances = grid.best_estimator_.named_steps['model'].feature_importances_
            feat_imp = pd.DataFrame({'Feature': manual_features, 'Importance': importances}).sort_values('Importance', ascending=False)
            print(f"\nFeature Importances for {name}:\n{feat_imp}")

    print("\nOptimized results for Promotion_Potential:")
    print(pd.DataFrame(results).set_index('Model').round(4))
    print(f"Best model for Promotion_Potential: {best_name} (F1 = {best_score:.4f})")

    # Threshold optimization using balanced accuracy
    thresholds = np.arange(0.1, 1.0, 0.05)
    best_threshold = 0.5
    best_balanced_acc = balanced_accuracy_score(y_test, (y_prob >= 0.5).astype(int))
    for thresh in thresholds:
        y_pred_thresh = (y_prob >= thresh).astype(int)
        balanced_acc = balanced_accuracy_score(y_test, y_pred_thresh)
        if balanced_acc > best_balanced_acc:
            best_balanced_acc = balanced_acc
            best_threshold = thresh
    print(f"Optimized threshold (via balanced accuracy): {best_threshold:.2f} (Balanced Accuracy = {best_balanced_acc:.4f})")

    # Apply best threshold
    preds_all = (best_model.predict_proba(X)[:, 1] >= best_threshold).astype(int)

    # Check prediction distribution
    print(f"Distribution of Promotion_Prediction: {np.bincount(preds_all)}")

    return preds_all, best_name, best_model, X

preds_all, best_name, best_model, X = process_classification_task(
    target='Promotion_Potential',
    df=df_active,
    is_attrition=False,
    manual_features=manual_features
)

# Ajouter les prédictions au dataset actif
df_active['Promotion_Prediction'] = preds_all

# Réintégrer les prédictions dans le dataset complet
df['Promotion_Prediction'] = np.nan
df.loc[df['Attrition'] == 0, 'Promotion_Prediction'] = df_active['Promotion_Prediction']

# Assigner des postes-clés avec une logique ajustée
df['Recommended_Role'] = np.nan
df.loc[
    (df['Promotion_Prediction'] == 1) &
    (df['Job Role_Research Scientist'] == 1),
    'Recommended_Role'
] = 'Research Director'
df.loc[
    (df['Promotion_Prediction'] == 1) &
    (df['Job Role_Sales Representative'] == 1),
    'Recommended_Role'
] = 'Sales Executive'
df.loc[
    (df['Promotion_Prediction'] == 1) &
    ((df['Job Role_Sales Executive'] == 1) | (df['Job Role_Research Director'] == 1)) &
    (df['Job Level'] >= 0.4) &  # Relaxed: Job Level >= 2.5
    (df['Job Satisfaction'] >= 0.333333),  # Relaxed: Job Satisfaction >= 2
    'Recommended_Role'
] = 'Manager'
df.loc[
    (df['Promotion_Prediction'] == 1) &
    (df['Recommended_Role'].isna()),
    'Recommended_Role'
] = 'Other Leadership'

# Vérifier les résultats
print("\nAperçu des assignations :")
print(df[['emp no', 'Attrition', 'Promotion_Prediction', 'Recommended_Role',
          'Job Role_Research Scientist', 'Job Role_Sales Representative',
          'Job Role_Sales Executive', 'Job Role_Research Director']].head(10))
print("\nRépartition des postes recommandés :")
print(df['Recommended_Role'].value_counts(dropna=False))
print("\nDistribution des rôles actuels :")
print(df[['Job Role_Research Scientist', 'Job Role_Sales Representative',
          'Job Role_Sales Executive', 'Job Role_Research Director']].sum())

# Analyse des employés dans Other Leadership
print("\nRôles actuels des employés dans 'Other Leadership' :")
other_leadership_roles = df[df['Recommended_Role'] == 'Other Leadership'][
    [col for col in df.columns if col.startswith('Job Role_')]
].sum()
print(other_leadership_roles[other_leadership_roles > 0])

# Validation croisée pour des métriques robustes
X_train, X_test, y_train, y_test = train_test_split(X, df_active['Promotion_Potential'],
                                                    test_size=0.3, random_state=42,
                                                    stratify=df_active['Promotion_Potential'])
best_model.fit(X_train, y_train)
preds_test = best_model.predict(X_test)
print(f"\nConfusion Matrix for {best_name}:\n{confusion_matrix(y_test, preds_test)}")
cv_scores = cross_val_score(best_model, X, df_active['Promotion_Potential'], cv=5, scoring='f1', n_jobs=-1)
print(f"Cross-validated F1-Score: {cv_scores.mean():.4f} ± {cv_scores.std():.4f}")

# Exporter pour Power BI
df.to_csv('dataset_with_predictions_and_roles.csv', index=False)

# Exporter les importances des features (si applicable)
if hasattr(best_model.named_steps['model'], 'feature_importances_'):
    importances = best_model.named_steps['model'].feature_importances_
    top_feats = pd.DataFrame({'Feature': manual_features, 'Importance': importances}).sort_values('Importance', ascending=False)
    top_feats.to_csv('feature_importances.csv', index=False)
    print("\nImportances des features exportées dans 'feature_importances.csv'")

Nombre d'employés actifs (Attrition == 0) : 1233
Distribution de Promotion_Potential :
Promotion_Potential
0    1147
1      86
Name: count, dtype: int64
LogisticRegression - Best params: {'model__C': 100, 'model__penalty': 'l1', 'model__solver': 'liblinear'}
RandomForestClassifier - Best params: {'model__max_depth': 10, 'model__min_samples_leaf': 2, 'model__min_samples_split': 5, 'model__n_estimators': 100}

Feature Importances for RandomForestClassifier:
                      Feature  Importance
4          Performance Rating    0.712807
5            Job Satisfaction    0.097158
1     Years With Curr Manager    0.070593
0  Years Since Last Promotion    0.055022
3             Job Involvement    0.034722
2    Training Times Last Year    0.029699
SVC - Best params: {'model__C': 10, 'model__gamma': 0.1, 'model__kernel': 'rbf'}
XGBoost - Best params: {'model__learning_rate': 0.05, 'model__max_depth': 7, 'model__n_estimators': 100, 'model__subsample': 1.0}

Feature Importances for XGBoost:
                      Feature  Importance
4          Performance Rating    0.965169
5            Job Satisfaction    0.015537
1     Years With Curr Manager    0.005696
3             Job Involvement    0.005598
0  Years Since Last Promotion    0.004641
2    Training Times Last Year    0.003359

Optimized results for Promotion_Potential:
                        Accuracy  Precision  Recall  F1-Score  ROC-AUC  \
Model
LogisticRegression        0.9378     0.5306  1.0000    0.6933   0.9709
RandomForestClassifier    0.9459     0.5882  0.7692    0.6667   0.9804
SVC                       0.9351     0.5238  0.8462    0.6471   0.9760
XGBoost                   0.9432     0.5581  0.9231    0.6957   0.9758

                        Balanced Accuracy
Model
LogisticRegression                 0.9666
RandomForestClassifier             0.8643
SVC                                0.8940
XGBoost                            0.9339
Best model for Promotion_Potential: XGBoost (F1 = 0.6957)
Optimized threshold (via balanced accuracy): 0.35 (Balanced Accuracy = 0.9695)
Distribution of Promotion_Prediction: [1100  133]

Aperçu des assignations :
     emp no  Attrition  Promotion_Prediction   Recommended_Role  \
0   STAFF-1          1                   NaN                NaN
1   STAFF-2          0                   1.0  Research Director
2   STAFF-4          1                   NaN                NaN
3   STAFF-5          0                   0.0                NaN
4   STAFF-7          0                   0.0                NaN
5   STAFF-8          0                   0.0                NaN
6  STAFF-10          0                   0.0                NaN
7  STAFF-11          0                   0.0                NaN
8  STAFF-12          0                   1.0   Other Leadership
9  STAFF-13          0                   0.0                NaN

   Job Role_Research Scientist  Job Role_Sales Representative  \
0                          0.0                            0.0
1                          1.0                            0.0
2                          0.0                            0.0
3                          1.0                            0.0
4                          0.0                            0.0
5                          0.0                            0.0
6                          0.0                            0.0
7                          0.0                            0.0
8                          0.0                            0.0
9                          0.0                            0.0

   Job Role_Sales Executive  Job Role_Research Director
0                       1.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       0.0                         0.0
4                       0.0                         0.0
5                       0.0                         0.0
6                       0.0                         0.0
7                       0.0                         0.0
8                       0.0                         0.0
9                       0.0                         0.0

Répartition des postes recommandés :
Recommended_Role
NaN                  1337
Other Leadership       96
Research Director      23
Sales Executive         7
Manager                 7
Name: count, dtype: int64

Distribution des rôles actuels :
Job Role_Research Scientist      292.0
Job Role_Sales Representative     83.0
Job Role_Sales Executive         326.0
Job Role_Research Director        80.0
dtype: float64

Rôles actuels des employés dans 'Other Leadership' :
Job Role_Healthcare Representative    16.0
Job Role_Human Resources               5.0
Job Role_Laboratory Technician        14.0
Job Role_Manager                      15.0
Job Role_Manufacturing Director       20.0
Job Role_Sales Executive              26.0
dtype: float64

Confusion Matrix for XGBoost:
[[325  19]
 [  2  24]]
Cross-validated F1-Score: 0.7715 ± 0.0906

Importances des features exportées dans 'feature_importances.csv'

In [ ]:
df

,Attrition,Business Travel,CF_age band,emp no,Gender,Over Time,Training Times Last Year,Daily Rate,Distance From Home,Education,Environment Satisfaction,Hourly Rate,Job Involvement,Job Level,Job Satisfaction,Monthly Income,Monthly Rate,Num Companies Worked,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Department_HR,Department_R&D,Department_Sales,Education Field_Human Resources,Education Field_Life Sciences,Education Field_Marketing,Education Field_Medical,Education Field_Other,Education Field_Technical Degree,Job Role_Healthcare Representative,Job Role_Human Resources,Job Role_Laboratory Technician,Job Role_Manager,Job Role_Manufacturing Director,Job Role_Research Director,Job Role_Research Scientist,Job Role_Sales Executive,Job Role_Sales Representative,Predicted_Attrition,Attrition_Probability,Promotion_Prediction,Recommended_Role
0,1,0.5,0.50,STAFF-1,0,1,0.000000,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.262454,0.698053,0.888889,0.000000,0.0,0.000000,0.000000,0.200,0.000000,0.150,0.222222,0.000000,0.294118,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN
1,0,1.0,0.75,STAFF-2,1,0,0.500000,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.217009,0.916001,0.111111,0.857143,1.0,1.000000,0.333333,0.250,0.666667,0.250,0.388889,0.066667,0.411765,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.161324,1.0,Research Director
2,1,0.5,0.50,STAFF-4,1,1,0.500000,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.056925,0.012126,0.666667,0.285714,0.0,0.333333,0.000000,0.175,0.666667,0.000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
3,0,1.0,0.25,STAFF-5,0,1,0.500000,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.100053,0.845814,0.111111,0.000000,0.0,0.666667,0.000000,0.200,0.666667,0.200,0.388889,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0.755515,0.0,NaN
4,0,0.5,0.25,STAFF-7,1,0,0.500000,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.129489,0.583738,1.000000,0.071429,0.0,1.000000,0.333333,0.150,0.666667,0.050,0.111111,0.133333,0.117647,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.614192,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1,0.0,0.25,STAFF-1905,1,1,0.333333,0.619184,0.535714,0.75,1.000000,0.785714,0.000000,0.00,0.000000,0.068352,0.496527,0.111111,0.857143,1.0,0.333333,0.333333,0.125,0.666667,0.125,0.111111,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN
1466,1,1.0,0.25,STAFF-1868,1,1,0.500000,0.255548,0.821429,0.25,1.000000,0.614286,0.333333,0.00,1.000000,0.075303,0.508292,0.111111,0.928571,1.0,0.333333,0.000000,0.025,0.333333,0.025,0.000000,0.066667,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN
1467,1,1.0,0.50,STAFF-1667,1,1,0.333333,0.556908,0.392857,0.75,1.000000,0.085714,0.666667,0.25,1.000000,0.188099,0.334069,0.333333,0.928571,1.0,0.000000,0.000000,0.325,1.000000,0.275,0.500000,0.400000,0.411765,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN
1468,1,0.5,0.00,STAFF-1878,1,1,0.333333,0.206872,0.214286,0.00,1.000000,0.642857,0.666667,0.00,0.333333,0.077041,0.963582,0.111111,0.857143,1.0,0.000000,0.000000,0.025,0.666667,0.025,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN
1469,1,0.5,0.00,STAFF-1702,1,1,0.333333,0.232641,0.214286,0.50,0.666667,0.985714,0.666667,0.00,1.000000,0.066667,0.923871,0.111111,0.714286,1.0,0.333333,0.333333,0.075,0.666667,0.075,0.111111,0.000000,0.117647,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN

## Personnalisation des parcours : Quelles formations proposer à quels collaborateurs ?

Les formations:

* Technical_Skills (pour Laboratory Technician, Research Scientist, etc.).
* Sales_Training	(pour Sales Executive, Sales Representative).
* HR_Development (pour Human Resources).
* Management (pour Manager, Research Director).
* Soft Skills (pour tous, basé sur Job Satisfaction, Work Life Balance, etc.).

In [ ]:
def get_job_role_from_onehot(row):
    """
    Détermine le Job Role à partir des colonnes one-hot
    """
    job_role_columns = [
        'Job Role_Healthcare Representative', 'Job Role_Human Resources',
        'Job Role_Laboratory Technician', 'Job Role_Manager',
        'Job Role_Manufacturing Director', 'Job Role_Research Director',
        'Job Role_Research Scientist', 'Job Role_Sales Executive',
        'Job Role_Sales Representative'
    ]

    for col in job_role_columns:
        if col in row and row[col] == 1:
            return col.replace('Job Role_', '')

    return 'Unknown'

def get_department_from_onehot(row):
    """
    Détermine le Department à partir des colonnes one-hot
    """
    dept_columns = ['Department_HR', 'Department_R&D', 'Department_Sales']

    for col in dept_columns:
        if col in row and row[col] == 1:
            return col.replace('Department_', '')

    return 'Unknown'

def recommend_training_ml(df):
    """
    Version ML pour recommander les formations - sans SMOTE
    """
    # Filtrer les employés éligibles
    eligible_employees = df[
        (df['Job Level'] <= 0.25) &
        (df['Attrition'] == 0) &
        (df['Predicted_Attrition'] == 0)  # Pas de risque de départ prédit
    ].copy()

    print(f"Employés éligibles pour ML: {len(eligible_employees)}")

    if len(eligible_employees) < 50:  # Minimum d'échantillons
        print("Trop peu d'employés éligibles pour l'entraînement ML")
        df['Recommended_Training_ML'] = 'No_Recommendation'
        df['Training_Confidence'] = 0.0
        return df, None

    # Créer la variable cible pour le ML
    eligible_employees = create_ml_training_target(eligible_employees)

    # Vérifier la distribution des classes
    target_distribution = eligible_employees['Training_Category_ML'].value_counts()
    print(f"Distribution des catégories: {dict(target_distribution)}")

    # Features pour le modèle ML
    ml_features = [
        'Job Level', 'Job Satisfaction', 'Environment Satisfaction',
        'Work Life Balance', 'Performance Rating', 'Years At Company',
        'Years Since Last Promotion', 'Training Times Last Year',
        'Monthly Income', 'CF_age band', 'Total Working Years', 'Job Involvement',
        'Years In Current Role', 'Years With Curr Manager', 'Daily Rate',
        'Distance From Home', 'Education', 'Relationship Satisfaction',
        'Stock Option Level', 'Num Companies Worked', 'Percent Salary Hike',
        # Colonnes one-hot pour Department et Job Role
        'Department_HR', 'Department_R&D', 'Department_Sales',
        'Job Role_Healthcare Representative', 'Job Role_Human Resources',
        'Job Role_Laboratory Technician', 'Job Role_Manager',
        'Job Role_Manufacturing Director', 'Job Role_Research Director',
        'Job Role_Research Scientist', 'Job Role_Sales Executive',
        'Job Role_Sales Representative'
    ]

    # Filtrer les features disponibles
    available_features = [col for col in ml_features if col in eligible_employees.columns]
    print(f"Features utilisées: {len(available_features)}")

    # Préparer les données
    X = eligible_employees[available_features]
    y = eligible_employees['Training_Category_ML']

    # Vérifier s'il y a assez de données pour chaque classe
    min_samples = target_distribution.min()
    if min_samples < 10:
        print(f"⚠️  Certaines classes ont très peu d'échantillons (min: {min_samples})")
        print("Utilisation d'un modèle plus robuste...")

    # Entraînement du modèle ML
    ml_predictions, ml_probas, best_model = train_ml_model(X, y, available_features)

    # Appliquer les prédictions
    eligible_employees['Recommended_Training_ML'] = ml_predictions
    eligible_employees['Training_Confidence'] = ml_probas.max(axis=1)

    # Mapping des catégories
    training_mapping = {
        0: 'Technical_Skills',
        1: 'Management_Fundamentals',
        2: 'Sales_Training',
        3: 'HR_Development',
        4: 'Soft_Skills_Core'
    }

    eligible_employees['Recommended_Training_ML'] = eligible_employees['Recommended_Training_ML'].map(training_mapping)

    # Initialiser les colonnes dans le dataset complet
    df['Recommended_Training_ML'] = 'No_Recommendation'
    df['Training_Confidence'] = 0.0

    # Mettre à jour avec les prédictions ML
    df.loc[eligible_employees.index, 'Recommended_Training_ML'] = eligible_employees['Recommended_Training_ML']
    df.loc[eligible_employees.index, 'Training_Confidence'] = eligible_employees['Training_Confidence']

    return df, best_model

def create_ml_training_target(df):
    """
    Crée une variable cible de haute qualité pour l'entraînement ML
    Basée sur une combinaison de règles métier et de données réelles
    """
    training_categories = []

    for idx, row in df.iterrows():
        job_role = get_job_role_from_onehot(row)
        performance = row['Performance Rating']
        job_satisfaction = row['Job Satisfaction']
        work_life_balance = row['Work Life Balance']
        years_since_promo = row['Years Since Last Promotion']
        training_times = row['Training Times Last Year']

        # Score composite pour déterminer la catégorie optimale
        tech_score = calculate_tech_score(row, job_role)
        management_score = calculate_management_score(row, job_role)
        sales_score = calculate_sales_score(row, job_role)
        hr_score = calculate_hr_score(row, job_role)
        soft_skills_score = calculate_soft_skills_score(row)

        scores = {
            0: tech_score,
            1: management_score,
            2: sales_score,
            3: hr_score,
            4: soft_skills_score
        }

        # Choisir la catégorie avec le score le plus élevé
        best_category = max(scores.items(), key=lambda x: x[1])[0]
        training_categories.append(best_category)

    df['Training_Category_ML'] = training_categories
    return df

def calculate_tech_score(row, job_role):
    """Calcule le score pour les formations techniques"""
    score = 0
    if job_role in ['Laboratory Technician', 'Research Scientist', 'Manufacturing Director', 'Research Director']:
        score += 3
    if row['Training Times Last Year'] < 0.3:
        score += 2
    if row['Job Involvement'] > 0.7:
        score += 1
    if 'Education Field_Technical Degree' in row and row['Education Field_Technical Degree'] == 1:
        score += 1
    if 'Education Field_Life Sciences' in row and row['Education Field_Life Sciences'] == 1:
        score += 1
    return score

def calculate_management_score(row, job_role):
    """Calcule le score pour les formations management"""
    score = 0
    if row['Performance Rating'] >= 0.7:
        score += 2
    if row['Years Since Last Promotion'] > 0.4:
        score += 2
    if row['Job Level'] <= 0.25 and row['Total Working Years'] > 0.5:
        score += 1
    if job_role in ['Manager', 'Research Director', 'Manufacturing Director']:
        score += 1
    return score

def calculate_sales_score(row, job_role):
    """Calcule le score pour les formations vente"""
    score = 0
    if job_role in ['Sales Executive', 'Sales Representative', 'Healthcare Representative']:
        score += 3
    if 'Department_Sales' in row and row['Department_Sales'] == 1:
        score += 2
    if row['Performance Rating'] < 0.5:
        score += 1  # Besoin d'amélioration
    if row['Monthly Income'] < 0.4:
        score += 1  # Performance commerciale à améliorer
    return score

def calculate_hr_score(row, job_role):
    """Calcule le score pour les formations RH"""
    score = 0
    if job_role == 'Human Resources':
        score += 3
    if 'Department_HR' in row and row['Department_HR'] == 1:
        score += 2
    if row['Years Since Last Promotion'] > 0.5:
        score += 1
    return score

def calculate_soft_skills_score(row):
    """Calcule le score pour les soft skills"""
    score = 0
    if row['Job Satisfaction'] <= 0.3:
        score += 2
    if row['Work Life Balance'] <= 0.3:
        score += 2
    if row['Environment Satisfaction'] <= 0.3:
        score += 1
    if 'Relationship Satisfaction' in row and row['Relationship Satisfaction'] <= 0.3:
        score += 1
    return score

def train_ml_model(X, y, feature_names):
    """
    Entraîne un modèle ML robuste sans SMOTE
    """
    from sklearn.model_selection import train_test_split, cross_val_score
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import classification_report, accuracy_score
    import xgboost as xgb
    from xgboost import XGBClassifier

    # Division train/test
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42, stratify=y
    )

    # Modèles à tester
    models = {
        'RandomForest': RandomForestClassifier(
            n_estimators=100,
            max_depth=10,
            min_samples_split=10,  # Évite le sur-apprentissage
            min_samples_leaf=5,
            class_weight='balanced',
            random_state=42
        ),
        'XGBoost': XGBClassifier(
            n_estimators=100,
            max_depth=6,
            learning_rate=0.1,
            random_state=42
        )
    }

    best_score = 0
    best_model = None
    best_name = None

    for name, model in models.items():
        try:
            # Validation croisée
            cv_scores = cross_val_score(model, X_train, y_train, cv=5, scoring='f1_weighted')
            mean_cv = cv_scores.mean()

            # Entraînement final
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)
            test_accuracy = accuracy_score(y_test, y_pred)

            print(f"{name} - CV F1: {mean_cv:.3f}, Test Accuracy: {test_accuracy:.3f}")

            if mean_cv > best_score:
                best_score = mean_cv
                best_model = model
                best_name = name
        except Exception as e:
            print(f"Erreur avec {name}: {e}")

    if best_model is None:
        print("Aucun modèle n'a fonctionné, utilisation de RandomForest par défaut")
        best_model = RandomForestClassifier(n_estimators=100, random_state=42)
        best_model.fit(X, y)
        best_name = "RandomForest"

    print(f"\n🎯 Meilleur modèle: {best_name} (F1: {best_score:.3f})")

    # Prédictions sur toutes les données
    predictions = best_model.predict(X)
    probabilities = best_model.predict_proba(X)

    # Feature importance
    if hasattr(best_model, 'feature_importances_'):
        feature_importance = pd.DataFrame({
            'feature': feature_names,
            'importance': best_model.feature_importances_
        }).sort_values('importance', ascending=False)

        print("\n📊 Top 10 des features les plus importantes:")
        print(feature_importance.head(10))

    return predictions, probabilities, best_model

def analyze_ml_recommendations(df):
    """
    Analyse des recommandations générées par ML
    """
    ml_recommendations = df[df['Recommended_Training_ML'] != 'No_Recommendation']

    if len(ml_recommendations) == 0:
        print("Aucune recommandation ML générée")
        return

    print("\n" + "="*60)
    print("ANALYSE DES RECOMMANDATIONS ML")
    print("="*60)

    # Distribution
    ml_dist = ml_recommendations['Recommended_Training_ML'].value_counts()
    print("\n📈 Distribution ML:")
    for training_type, count in ml_dist.items():
        percentage = (count / len(ml_recommendations)) * 100
        avg_confidence = ml_recommendations[ml_recommendations['Recommended_Training_ML'] == training_type]['Training_Confidence'].mean()
        print(f"   {training_type}: {count} employés ({percentage:.1f}%) - Confiance: {avg_confidence:.3f}")

    # Par département
    print("\n🏢 Par département:")
    dept_data = []
    for idx, row in ml_recommendations.iterrows():
        dept = get_department_from_onehot(row)
        dept_data.append({'Department': dept, 'Training': row['Recommended_Training_ML']})

    dept_df = pd.DataFrame(dept_data)
    if not dept_df.empty:
        dept_dist = dept_df.groupby(['Department', 'Training']).size().unstack(fill_value=0)
        print(dept_dist)

    # Confiance moyenne
    avg_confidence = ml_recommendations['Training_Confidence'].mean()
    print(f"\n🎯 Confiance moyenne des prédictions: {avg_confidence:.3f}")

    # Recommandations haute confiance
    high_confidence = ml_recommendations[ml_recommendations['Training_Confidence'] >= 0.7]
    print(f"🔝 Recommandations haute confiance (≥0.7): {len(high_confidence)} employés")

    # Comparaison avec les règles métier
    if 'Recommended_Training' in df.columns:
        comparison = df[df['Recommended_Training_ML'] != 'No_Recommendation']
        same_recommendation = comparison[comparison['Recommended_Training_ML'] == comparison['Recommended_Training']]
        print(f"\n🔄 Accord ML vs Règles métier: {len(same_recommendation)}/{len(comparison)} ({len(same_recommendation)/len(comparison)*100:.1f}%)")

# FONCTION PRINCIPALE ML
def add_ml_training_recommendations(df):
    """
    Fonction principale pour les recommandations ML
    """
    print("🚀 Début de la génération des recommandations par ML...")

    df_with_ml, ml_model = recommend_training_ml(df)
    analyze_ml_recommendations(df_with_ml)

    total_ml_recommendations = len(df_with_ml[df_with_ml['Recommended_Training_ML'] != 'No_Recommendation'])
    print(f"\n✅ {total_ml_recommendations} recommandations ML générées")

    return df_with_ml, ml_model

# EXÉCUTION
df, trained_model = add_ml_training_recommendations(df)

🚀 Début de la génération des recommandations par ML...
Employés éligibles pour ML: 813
Distribution des catégories: {0: np.int64(473), 2: np.int64(298), 3: np.int64(34), 1: np.int64(5), 4: np.int64(3)}
Features utilisées: 33
⚠️  Certaines classes ont très peu d'échantillons (min: 3)
Utilisation d'un modèle plus robuste...
RandomForest - CV F1: 0.978, Test Accuracy: 0.982
XGBoost - CV F1: 0.984, Test Accuracy: 0.994

🎯 Meilleur modèle: XGBoost (F1: 0.984)

📊 Top 10 des features les plus importantes:
                               feature  importance
22                      Department_R&D    0.292067
23                    Department_Sales    0.271662
21                       Department_HR    0.174738
24  Job Role_Healthcare Representative    0.168576
6           Years Since Last Promotion    0.011571
4                   Performance Rating    0.011233
9                          CF_age band    0.009541
17           Relationship Satisfaction    0.007353
1                     Job Satisfaction    0.005823
3                    Work Life Balance    0.005529

============================================================
ANALYSE DES RECOMMANDATIONS ML
============================================================

📈 Distribution ML:
   Technical_Skills: 474 employés (58.3%) - Confiance: 0.996
   Sales_Training: 298 employés (36.7%) - Confiance: 0.995
   HR_Development: 34 employés (4.2%) - Confiance: 0.986
   Management_Fundamentals: 4 employés (0.5%) - Confiance: 0.875
   Soft_Skills_Core: 3 employés (0.4%) - Confiance: 0.827

🏢 Par département:
Training    HR_Development  Management_Fundamentals  Sales_Training  \
Department
HR                      34                        0               0
R&D                      0                        4              67
Sales                    0                        0             231

Training    Soft_Skills_Core  Technical_Skills
Department
HR                         0                 0
R&D                        3               474
Sales                      0                 0

🎯 Confiance moyenne des prédictions: 0.994
🔝 Recommandations haute confiance (≥0.7): 813 employés

✅ 813 recommandations ML générées

In [ ]:
df

,Attrition,Business Travel,CF_age band,emp no,Gender,Over Time,Training Times Last Year,Daily Rate,Distance From Home,Education,Environment Satisfaction,Hourly Rate,Job Involvement,Job Level,Job Satisfaction,Monthly Income,Monthly Rate,Num Companies Worked,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Department_HR,Department_R&D,Department_Sales,Education Field_Human Resources,Education Field_Life Sciences,Education Field_Marketing,Education Field_Medical,Education Field_Other,Education Field_Technical Degree,Job Role_Healthcare Representative,Job Role_Human Resources,Job Role_Laboratory Technician,Job Role_Manager,Job Role_Manufacturing Director,Job Role_Research Director,Job Role_Research Scientist,Job Role_Sales Executive,Job Role_Sales Representative,Predicted_Attrition,Attrition_Probability,Promotion_Prediction,Recommended_Role,Recommended_Training_ML,Training_Confidence
0,1,0.5,0.50,STAFF-1,0,1,0.000000,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.262454,0.698053,0.888889,0.000000,0.0,0.000000,0.000000,0.200,0.000000,0.150,0.222222,0.000000,0.294118,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
1,0,1.0,0.75,STAFF-2,1,0,0.500000,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.217009,0.916001,0.111111,0.857143,1.0,1.000000,0.333333,0.250,0.666667,0.250,0.388889,0.066667,0.411765,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.161324,1.0,Research Director,Technical_Skills,0.991967
2,1,0.5,0.50,STAFF-4,1,1,0.500000,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.056925,0.012126,0.666667,0.285714,0.0,0.333333,0.000000,0.175,0.666667,0.000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
3,0,1.0,0.25,STAFF-5,0,1,0.500000,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.100053,0.845814,0.111111,0.000000,0.0,0.666667,0.000000,0.200,0.666667,0.200,0.388889,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0.755515,0.0,NaN,No_Recommendation,0.000000
4,0,0.5,0.25,STAFF-7,1,0,0.500000,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.129489,0.583738,1.000000,0.071429,0.0,1.000000,0.333333,0.150,0.666667,0.050,0.111111,0.133333,0.117647,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.614192,0.0,NaN,Technical_Skills,0.998617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1,0.0,0.25,STAFF-1905,1,1,0.333333,0.619184,0.535714,0.75,1.000000,0.785714,0.000000,0.00,0.000000,0.068352,0.496527,0.111111,0.857143,1.0,0.333333,0.333333,0.125,0.666667,0.125,0.111111,0.200000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
1466,1,1.0,0.25,STAFF-1868,1,1,0.500000,0.255548,0.821429,0.25,1.000000,0.614286,0.333333,0.00,1.000000,0.075303,0.508292,0.111111,0.928571,1.0,0.333333,0.000000,0.025,0.333333,0.025,0.000000,0.066667,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
1467,1,1.0,0.50,STAFF-1667,1,1,0.333333,0.556908,0.392857,0.75,1.000000,0.085714,0.666667,0.25,1.000000,0.188099,0.334069,0.333333,0.928571,1.0,0.000000,0.000000,0.325,1.000000,0.275,0.500000,0.400000,0.411765,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
1468,1,0.5,0.00,STAFF-1878,1,1,0.333333,0.206872,0.214286,0.00,1.000000,0.642857,0.666667,0.00,0.333333,0.077041,0.963582,0.111111,0.857143,1.0,0.000000,0.000000,0.025,0.666667,0.025,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000
1469,1,0.5,0.00,STAFF-1702,1,1,0.333333,0.232641,0.214286,0.50,0.666667,0.985714,0.666667,0.00,1.000000,0.066667,0.923871,0.111111,0.714286,1.0,0.333333,0.333333,0.075,0.666667,0.075,0.111111,0.000000,0.117647,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,NaN,NaN,NaN,No_Recommendation,0.000000

# Data denormalization

In [ ]:
import pandas as pd
import numpy as np

def denormalize_dataset(normalized_df):
    """
    Dénormalise le dataset pour retrouver les valeurs originales
    """
    df_denormalized = normalized_df.copy()

    # 1. Dénormalisation des variables catégorielles encodées
    # Attrition
    df_denormalized['Attrition'] = df_denormalized['Attrition'].map({0: 'No', 1: 'Yes'})

    # Gender
    df_denormalized['Gender'] = df_denormalized['Gender'].map({0: 'Female', 1: 'Male'})

    # Over Time
    df_denormalized['Over Time'] = df_denormalized['Over Time'].map({0: 'No', 1: 'Yes'})

    # Business Travel (multiplier par 2 et mapper)
    business_travel_map = {0: 'Non-Travel', 1: 'Travel_Rarely', 2: 'Travel_Frequently'}
    df_denormalized['Business Travel'] = (df_denormalized['Business Travel'] * 2).round().map(business_travel_map)

    # CF_age band (multiplier par 4 et mapper)
    age_band_map = {0: 'Under 25', 1: '25 - 34', 2: '35 - 44', 3: '45 - 54', 4: 'Over 55'}
    df_denormalized['CF_age band'] = (df_denormalized['CF_age band'] * 4).round().map(age_band_map)

    # 2. Dénormalisation des variables numériques (MinMaxScaler)
    # Ranges approximatifs basés sur votre description - ajustez si nécessaire
    variable_ranges = {
        'Training Times Last Year': (0, 6),
        'Daily Rate': (102, 1499),
        'Distance From Home': (1, 29),
        'Education': (1, 5),  # Échelle originale 1-5
        'Environment Satisfaction': (1, 4),
        'Hourly Rate': (30, 100),
        'Job Involvement': (1, 4),
        'Job Level': (1, 5),
        'Job Satisfaction': (1, 4),
        'Monthly Income': (1009, 19999),
        'Monthly Rate': (2094, 26999),
        'Num Companies Worked': (0, 9),
        'Percent Salary Hike': (11, 25),
        'Performance Rating': (3, 4),
        'Relationship Satisfaction': (1, 4),
        'Stock Option Level': (0, 3),
        'Total Working Years': (0, 40),
        'Work Life Balance': (1, 4),
        'Years At Company': (0, 40),
        'Years In Current Role': (0, 18),
        'Years Since Last Promotion': (0, 15),
        'Years With Curr Manager': (0, 17)
    }

    for column, (min_val, max_val) in variable_ranges.items():
        if column in df_denormalized.columns:
            # Pour l'éducation, formule inverse spécifique
            if column == 'Education':
                df_denormalized[column] = (df_denormalized[column] * 4 + 1).round()
            else:
                # Formule inverse MinMaxScaler: x_original = x_norm * (max - min) + min
                df_denormalized[column] = (df_denormalized[column] * (max_val - min_val) + min_val).round()

    # 3. Recréer les colonnes catégorielles one-hot encodées
    # Marital Status
    marital_cols = [col for col in df_denormalized.columns if col.startswith('Marital Status_')]
    if marital_cols:
        df_denormalized['Marital Status'] = df_denormalized[marital_cols].idxmax(axis=1).str.replace('Marital Status_', '')
        df_denormalized = df_denormalized.drop(columns=marital_cols)

    # Department
    dept_cols = [col for col in df_denormalized.columns if col.startswith('Department_')]
    if dept_cols:
        df_denormalized['Department'] = df_denormalized[dept_cols].idxmax(axis=1).str.replace('Department_', '')
        df_denormalized = df_denormalized.drop(columns=dept_cols)

    # Education Field
    ed_field_cols = [col for col in df_denormalized.columns if col.startswith('Education Field_')]
    if ed_field_cols:
        df_denormalized['Education Field'] = df_denormalized[ed_field_cols].idxmax(axis=1).str.replace('Education Field_', '')
        df_denormalized = df_denormalized.drop(columns=ed_field_cols)

    # Job Role
    job_role_cols = [col for col in df_denormalized.columns if col.startswith('Job Role_')]
    if job_role_cols:
        df_denormalized['Job Role'] = df_denormalized[job_role_cols].idxmax(axis=1).str.replace('Job Role_', '')
        df_denormalized = df_denormalized.drop(columns=job_role_cols)

    return df_denormalized

# Application de la dénormalisation
denormalized_df = denormalize_dataset(df)

# Afficher un extrait pour vérification
print("Dataset dénormalisé - premières lignes:")
print(denormalized_df.head())

# Vérifier les types de données
print("\nTypes de données après dénormalisation:")
print(denormalized_df.dtypes)

# Sauvegarder le dataset dénormalisé pour Power BI
denormalized_df.to_csv('dataset_denormalise_power_bi.csv', index=False)
print("\nDataset dénormalisé sauvegardé sous 'dataset_denormalise_power_bi.csv'")

Dataset dénormalisé - premières lignes:
  Attrition    Business Travel CF_age band   emp no  Gender Over Time  \
0       Yes      Travel_Rarely     35 - 44  STAFF-1  Female       Yes
1        No  Travel_Frequently     45 - 54  STAFF-2    Male        No
2       Yes      Travel_Rarely     35 - 44  STAFF-4    Male       Yes
3        No  Travel_Frequently     25 - 34  STAFF-5  Female       Yes
4        No      Travel_Rarely     25 - 34  STAFF-7    Male        No

   Training Times Last Year  Daily Rate  Distance From Home  Education  \
0                       0.0      1102.0                 1.0        2.0
1                       3.0       279.0                 8.0        1.0
2                       3.0      1373.0                 2.0        2.0
3                       3.0      1392.0                 3.0        4.0
4                       3.0       591.0                 2.0        1.0

   Environment Satisfaction  Hourly Rate  Job Involvement  Job Level  \
0                       2.0         94.0              3.0        2.0
1                       3.0         61.0              2.0        2.0
2                       4.0         92.0              2.0        1.0
3                       4.0         56.0              3.0        1.0
4                       1.0         40.0              3.0        1.0

   Job Satisfaction  Monthly Income  Monthly Rate  Num Companies Worked  \
0               4.0          5993.0       19479.0                   8.0
1               2.0          5130.0       24907.0                   1.0
2               3.0          2090.0        2396.0                   6.0
3               3.0          2909.0       23159.0                   1.0
4               2.0          3468.0       16632.0                   9.0

   Percent Salary Hike  Performance Rating  Relationship Satisfaction  \
0                 11.0                 3.0                        1.0
1                 23.0                 4.0                        4.0
2                 15.0                 3.0                        2.0
3                 11.0                 3.0                        3.0
4                 12.0                 3.0                        4.0

   Stock Option Level  Total Working Years  Work Life Balance  \
0                 0.0                  8.0                1.0
1                 1.0                 10.0                3.0
2                 0.0                  7.0                3.0
3                 0.0                  8.0                3.0
4                 1.0                  6.0                3.0

   Years At Company  Years In Current Role  Years Since Last Promotion  \
0               6.0                    4.0                         0.0
1              10.0                    7.0                         1.0
2               0.0                    0.0                         0.0
3               8.0                    7.0                         3.0
4               2.0                    2.0                         2.0

   Years With Curr Manager  Predicted_Attrition  Attrition_Probability  \
0                      5.0                    1                    NaN
1                      7.0                    0               0.161324
2                      0.0                    1                    NaN
3                      0.0                    1               0.755515
4                      2.0                    0               0.614192

   Promotion_Prediction   Recommended_Role Recommended_Training_ML  \
0                   NaN                NaN       No_Recommendation
1                   1.0  Research Director        Technical_Skills
2                   NaN                NaN       No_Recommendation
3                   0.0                NaN       No_Recommendation
4                   0.0                NaN        Technical_Skills

   Training_Confidence Marital Status Department Education Field  \
0             0.000000         Single      Sales   Life Sciences
1             0.991967        Married        R&D   Life Sciences
2             0.000000         Single        R&D           Other
3             0.000000        Married        R&D   Life Sciences
4             0.998617        Married        R&D         Medical

                Job Role
0        Sales Executive
1     Research Scientist
2  Laboratory Technician
3     Research Scientist
4  Laboratory Technician

Types de données après dénormalisation:
Attrition                      object
Business Travel                object
CF_age band                    object
emp no                         object
Gender                         object
Over Time                      object
Training Times Last Year      float64
Daily Rate                    float64
Distance From Home            float64
Education                     float64
Environment Satisfaction      float64
Hourly Rate                   float64
Job Involvement               float64
Job Level                     float64
Job Satisfaction              float64
Monthly Income                float64
Monthly Rate                  float64
Num Companies Worked          float64
Percent Salary Hike           float64
Performance Rating            float64
Relationship Satisfaction     float64
Stock Option Level            float64
Total Working Years           float64
Work Life Balance             float64
Years At Company              float64
Years In Current Role         float64
Years Since Last Promotion    float64
Years With Curr Manager       float64
Predicted_Attrition             int64
Attrition_Probability         float32
Promotion_Prediction          float64
Recommended_Role               object
Recommended_Training_ML        object
Training_Confidence           float64
Marital Status                 object
Department                     object
Education Field                object
Job Role                       object
dtype: object

Dataset dénormalisé sauvegardé sous 'dataset_denormalise_power_bi.csv'

In [ ]:
denormalized_df

,Attrition,Business Travel,CF_age band,emp no,Gender,Over Time,Training Times Last Year,Daily Rate,Distance From Home,Education,Environment Satisfaction,Hourly Rate,Job Involvement,Job Level,Job Satisfaction,Monthly Income,Monthly Rate,Num Companies Worked,Percent Salary Hike,Performance Rating,Relationship Satisfaction,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager,Predicted_Attrition,Attrition_Probability,Promotion_Prediction,Recommended_Role,Recommended_Training_ML,Training_Confidence,Marital Status,Department,Education Field,Job Role
0,Yes,Travel_Rarely,35 - 44,STAFF-1,Female,Yes,0.0,1102.0,1.0,2.0,2.0,94.0,3.0,2.0,4.0,5993.0,19479.0,8.0,11.0,3.0,1.0,0.0,8.0,1.0,6.0,4.0,0.0,5.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Single,Sales,Life Sciences,Sales Executive
1,No,Travel_Frequently,45 - 54,STAFF-2,Male,No,3.0,279.0,8.0,1.0,3.0,61.0,2.0,2.0,2.0,5130.0,24907.0,1.0,23.0,4.0,4.0,1.0,10.0,3.0,10.0,7.0,1.0,7.0,0,0.161324,1.0,Research Director,Technical_Skills,0.991967,Married,R&D,Life Sciences,Research Scientist
2,Yes,Travel_Rarely,35 - 44,STAFF-4,Male,Yes,3.0,1373.0,2.0,2.0,4.0,92.0,2.0,1.0,3.0,2090.0,2396.0,6.0,15.0,3.0,2.0,0.0,7.0,3.0,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Single,R&D,Other,Laboratory Technician
3,No,Travel_Frequently,25 - 34,STAFF-5,Female,Yes,3.0,1392.0,3.0,4.0,4.0,56.0,3.0,1.0,3.0,2909.0,23159.0,1.0,11.0,3.0,3.0,0.0,8.0,3.0,8.0,7.0,3.0,0.0,1,0.755515,0.0,NaN,No_Recommendation,0.000000,Married,R&D,Life Sciences,Research Scientist
4,No,Travel_Rarely,25 - 34,STAFF-7,Male,No,3.0,591.0,2.0,1.0,1.0,40.0,3.0,1.0,2.0,3468.0,16632.0,9.0,12.0,3.0,4.0,1.0,6.0,3.0,2.0,2.0,2.0,2.0,0,0.614192,0.0,NaN,Technical_Skills,0.998617,Married,R&D,Medical,Laboratory Technician
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Yes,Non-Travel,25 - 34,STAFF-1905,Male,Yes,2.0,967.0,16.0,4.0,4.0,85.0,1.0,1.0,1.0,2307.0,14460.0,1.0,23.0,4.0,2.0,1.0,5.0,3.0,5.0,2.0,3.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Married,R&D,Technical Degree,Research Scientist
1466,Yes,Travel_Frequently,25 - 34,STAFF-1868,Male,Yes,3.0,459.0,24.0,2.0,4.0,73.0,2.0,1.0,4.0,2439.0,14753.0,1.0,24.0,4.0,2.0,0.0,1.0,2.0,1.0,0.0,1.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Single,R&D,Life Sciences,Research Scientist
1467,Yes,Travel_Frequently,35 - 44,STAFF-1667,Male,Yes,2.0,880.0,12.0,4.0,4.0,36.0,3.0,2.0,4.0,4581.0,10414.0,3.0,24.0,4.0,1.0,0.0,13.0,4.0,11.0,9.0,6.0,7.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Single,Sales,Other,Sales Executive
1468,Yes,Travel_Rarely,Under 25,STAFF-1878,Male,Yes,2.0,391.0,7.0,1.0,4.0,75.0,3.0,1.0,2.0,2472.0,26092.0,1.0,23.0,4.0,1.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Single,R&D,Life Sciences,Research Scientist
1469,Yes,Travel_Rarely,Under 25,STAFF-1702,Male,Yes,2.0,427.0,7.0,3.0,3.0,99.0,3.0,1.0,4.0,2275.0,25103.0,1.0,21.0,4.0,2.0,1.0,3.0,3.0,3.0,2.0,0.0,2.0,1,NaN,NaN,NaN,No_Recommendation,0.000000,Divorced,Sales,Life Sciences,Sales Representative

In [ ]:
# Dénormaliser et sauvegarder
filename = 'dataset_denormalise_powerbi.csv'
denormalized_df.to_csv(filename, index=False, encoding='utf-8')

# Téléchargement automatique
files.download(filename)